<div class="social-link-container">
    <div id="instagram-link" class="social-link">
        <a href="https://www.instagram.com/smiley_singer/">
            <span><i class="fab fa-instagram"></i>
            </span>
        </a>
    </div>

    <div id="tiktok-link" class="social-link">
        <a href="https://www.tiktok.com/@owllayne">
            <span><i class="fab fa-tiktok"></i>
            </span>
        </a>
    </div>

    <div id="soundcloud-link" class="social-link">
        <a href="https://soundcloud.com/tori-layne-1">
            <span><i class="fab fa-soundcloud"></i>
            </span>
        </a>
    </div>

</div>